
	/* <![CDATA[ */
	#ContentPlaceHolder1_menu { height:17px; }
	#ContentPlaceHolder1_menu img.icon { border-style:none;vertical-align:middle; }
	#ContentPlaceHolder1_menu img.separator { border-style:none;display:block; }
	#ContentPlaceHolder1_menu img.horizontal-separator { border-style:none;vertical-align:middle; }
	#ContentPlaceHolder1_menu ul { list-style:none;margin:0;padding:0;width:auto; }
	#ContentPlaceHolder1_menu ul.dynamic { background-color:White;border-color:#D5B745;border-width:1px;border-style:solid;padding:5px 5px 5px 5px;z-index:1; }
	#ContentPlaceHolder1_menu a { text-decoration:none;white-space:nowrap;display:block; }
	#ContentPlaceHolder1_menu a.static { padding:0px 10px 0px 10px;color:Black;text-decoration:none; }
	#ContentPlaceHolder1_menu a.popout-dynamic { background:url("/WebResource.axd?d=YAYach_zykzn7tRotFpEUhEfBQhzfao4SKuXVX7oCxKov3Y6IelV0hVKJhUNpaaTh-BIOpAPtNw547WJXD-I9hz-Wec1&t=635418424260000000") no-repeat right center;padding-right:14px; }
	#ContentPlaceHolder1_menu a.dynamic { background-color:White;border-color:#D5B745;border-width:1px;border-style:none;font-weight:normal;text-decoration:none; }
	#ContentPlaceHolder1_menu a.static.highlighted { background-color:White; }
	#ContentPlaceHolder1_menu a.dynamic.highlighted { color:#D5B745;background-color:White; }
	/* ]]> */
