@media screen and (max-width:239px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/16/16.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/16.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/16/16.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/16.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -736px;
		width:151px;
		height:159px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/16/16.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/16.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -945px;
		width:151px;
		height:159px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/16/16.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/16.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1154px;
		width:151px;
		height:159px
	}

}

@media screen and (min-width:240px) and (max-width:319px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/24/24.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/24.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/24/24.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/24.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -816px;
		width:215px;
		height:223px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/24/24.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/24.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1089px;
		width:215px;
		height:223px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/24/24.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/24.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1362px;
		width:215px;
		height:223px
	}

}

@media print,screen and (min-width:320px) and (max-width:1249px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/32/32.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/32.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/32/32.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/32.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 0;
		width:279px;
		height:287px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/32/32.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/32.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1479px;
		width:279px;
		height:287px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/32/32.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/32.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1816px;
		width:279px;
		height:287px
	}

}

@media screen and (min-width:1250px) and (max-width:1329px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/36/36.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/36.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/36/36.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/36.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -936px;
		width:311px;
		height:319px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/36/36.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/36.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1305px;
		width:311px;
		height:319px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/36/36.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/36.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1674px;
		width:311px;
		height:319px
	}

}

@media screen and (min-width:1330px) and (max-width:1519px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/40/40.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/40.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/40/40.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/40.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -976px;
		width:343px;
		height:351px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/40/40.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/40.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1377px;
		width:343px;
		height:351px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/40/40.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/40.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1778px;
		width:343px;
		height:351px
	}

}

@media screen and (min-width:1520px) and (max-width:1559px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/48/48.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/48.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/48/48.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/48.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1056px;
		width:407px;
		height:415px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/48/48.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/48.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1521px;
		width:407px;
		height:415px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/48/48.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/48.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:-457px 0;
		width:407px;
		height:415px
	}

}

@media screen and (min-width:1560px) and (max-width:1919px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/50/50.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/50.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/50/50.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/50.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1076px;
		width:423px;
		height:431px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/50/50.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/50.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1557px;
		width:423px;
		height:431px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/50/50.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/50.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:-473px 0;
		width:423px;
		height:431px
	}

}

@media screen and (min-width:1920px) and (max-width:2199px){
	.chessboard span{
		background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/64.png);
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
		background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/64.png);
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1216px;
		width:535px;
		height:543px
	}

	.cb-boardb{
		background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/64.png);
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1809px;
		width:535px;
		height:543px
	}

	.cb-boardw{
		background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/64.png);
		background-repeat:no-repeat;
		position:relative;
		background-position:-585px 0;
		width:535px;
		height:543px
	}

}

@media screen and (min-width:2200px){
	.chessboard span{
	        background-image:url(https://www.iccf.com/gif/96/96.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/96.png); */
		background-repeat:no-repeat;
		display:inline-block
	}

	.cb-board{
	        background-image:url(https://www.iccf.com/gif/96/96.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/96.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:0 -1536px;
		width:791px;
		height:799px
	}

	.cb-boardb{
	        background-image:url(https://www.iccf.com/gif/96/96.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/96.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:-841px 0;
		width:791px;
		height:799px
	}

	.cb-boardw{
	        background-image:url(https://www.iccf.com/gif/96/96.png);
		/* background-image:url(https://raw.githubusercontent.com/adversary-org/stylish-styles/master/iccf.com/source-data/images/96.png); */
		background-repeat:no-repeat;
		position:relative;
		background-position:-841px -849px;
		width:791px;
		height:799px
	}

}
